<style>
.table_comment
{
    background: #f5f5f5;
    width: 100%;
}
.input_full
{
    width: 97%;
}
</style>
<script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
<script type="text/javascript">
    function newone(){
        alert('bye bye');
    }
</script>
<br>
<div id="child" class="table_comment" algin="middle" style="width: 60%">
    <form action="/comment" method="POST" id="myform">
        <input id="id_vomit" class="input_full" name="vomit" type="text">
    </form>
    <button id='tijiao' onclick="MySubmit('test', '/comment')">评论</button>

    {% for comment in comments %}
        <hr>
        来自<a href="#">{{ comment.author }}</a>的吐槽：
        &nbsp;
        <span>{{ comment.comment }}</span>
    {% endfor %}
</div>


