{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
<div id="main">
    <div class="span9">
        <span>
            <h4><i class="icon-list-alt"></i>&nbsp;最新吐槽</h4>
        </span>
        {% for bug in bugs %}
            <div style="border-top: #f5f5f5 1px solid; ">
                <div>
                    <a href="#">beng</a>吐槽了bug:
                    <span style="float: right">5个小时前</span>
                </div>
                <div>
                    <h5><a href="/detail/{{ bug.id }}" target="_blank">{{ bug.title }}</a></h5>
                    <span>{{ bug.explain }}</span>
                </div>
                <div id="bOperate">
                    <ul>
                        <li><a href="#" onclick="return chg('comment');" id="comment_a">评论</a></li>
                        <li>
                            <a href="javascript:MyLoad('comments{{ bug.id }}', '/comment')">槽点</a>
                        </li>
                        <li><a href="#">关注</a></li>
                    </ul>
                </div>
                <div id="comments{{ bug.id }}" style="height: 100%;width: 100%"></div>
                <br>
                <div id="comment" style="display: none;">
                    脚本之家，脚本编程基地。欢迎大家学习交流。
                </div>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    function chg(id_num){
        var oa = document.getElementById(id_num);
        var ob = document.getElementById("comment_a");
        if(oa.style.display == "block"){
            oa.style.display = "none";
        }else{
            oa.style.display = "block";
        }
    return false;
    }
</script>
<script type="text/javascript" src="js/ajaxrequest.js">
</script>
<script type="text/javascript" src="js/myload.js"></script>
{% endblock %}