<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html>
<head>
    <title></title>
</head>
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
<style type="text/css">
    .center {
        width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .text-center {
        text-align: center;
    }
</style>
<body>

     <div class="container">
        <br><br><br><br><br><br><br><br><br><br>
         <form action="" method="POST">
             {% csrf_token %}
             <div class="center">
                 <fieldset>
                     <legend>登陆</legend>
                     <table>
                         <tr>
                             <td align="right">用户名:</td>
                             <td><input type="text" name="username" /></td>
                         </tr>
                         <tr>
                             <td align="right">密码:</td>
                             <td><input type="password" name="password" /></td>
                         </tr>
                         <tr>
                             <td></td>
                             <td><input type="checkbox" name="remeber" />记住我</td>
                         </tr>
                         <tr>
                            <td align="right"><button class="btn" type="submit">登陆</button> </td>
                            <td align="right"><button class="btn" type="button" onclick="location='../registe'">现在注册</button> </td>
                        </tr>
                     </table>
                 </fieldset>
             </div>
         </form>
     </div>

</body>
</html>