{% extends "base.html" %}
{% block title %}登陆{% endblock %}
{% block content %}
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="center">
                <fieldset>
                    <legend>登陆</legend>
                    <table>
                        <tr>
                            <td align="right">用户名：</td>
                            <td>{{ form.name }}</td>
                        </tr>
                        <tr>
                            <td align="right">密码：</td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center"><input type="checkbox">记住我</td>
                        </tr>
                        <tr>
                            <td align="right"><button class="btn" type="submit">登陆</button> </td>
                            <td align="right"><button class="btn" type="button" onclick="location='../registe'">现在注册</button> </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}