<!DOCTYPE html>
{%load comments%}
<html>
<head>
    <title>Just Test HTML</title>
</head>
    <style type="text/css">
        label{display:inline;float:left;width:100px;}
        input,textarea{width:340px;}
        textarea{height:80px;}
        input[type=submit]{width:120px;margin-left:300px;}
    </style>

    <body>
        <script type="text/javascript" src="js/ajaxrequest.js"></script>
        <script type="text/javascript" src="js/myload.js"></script>
        <script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
        <a href="javascript:MyLoad('test', '/comment')">槽点</a>
        <div id="test"></div>
        <p>dflkajklfdlkasjfkljdslkfjlkdsjklf</p>
        <span>dsjfklsjklfjlksdjlfjalkfj</span>
    </body>
</html>